/* 
font-family: 'Raleway', sans-serif; 
*/

body{
    font-size: 16px;
    line-height: 20px;
    background-image: url(https://static.vecteezy.com/system/resources/thumbnails/002/016/626/original/dark-cosmos-template-video.jpg);
}

/* header */

header{
    background-image: url(https://w7.pngwing.com/pngs/741/30/png-transparent-the-night-sky-night-night-sky-star.png);
    background-repeat: repeat-x;
    color: #ffffff;
    padding-bottom: 1px;
}

header img{
    display: block;
    margin: auto;
    margin-top: 16px;
}

header h1{
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 50px;
    font-style: 'Raleway', sans-serif; 
    font-weight: 700;
    text-align: center;
}

header p{
    color: white;
    font-size: 18px;
    font-style: 'Raleway', sans-serif; 
    font-weight: 100;
    text-align: center;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

/* fin header */
/* nav */

nav{

    background-color: rgb(212, 107, 253);
}
nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
}

nav ul li{
    display: inline-block;
    width: 16%;
}

nav ul li a{
    color: white;
    text-decoration: none;
    text-align: center;
    display: block;
}

nav ul li a:hover{
    background-color: rgb(65, 71, 87);
}

nav ul li a.activo{
    background-color: rgb(65, 71, 87);
}

.holder{
    max-width: 960px;
    margin: auto;
}

/* fin nav */
/* main */

main p{
    color: white;
}

h2{
    color: white;
}

.espiritus{
    overflow: hidden;
}

.espiritu{
    width: 17%;
    border: 1px solid grey;
    border-radius: 5px;
    float: left;
    margin-left: 2.25%;
    box-sizing: border-box;
}

.espiritu{
    text-align: center;
    background-color: rgba(226, 116, 248, 0.22);
}

.espiritu img{
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0,0,0,0.5) ;
    margin: 10px 0px 16px;
    max-width: 70%;
}

.espiritu h5, .espiritu h6{
    text-align: center;
    font-weight: normal;
    color: rgb(160, 94, 81);
    margin: 0;
}

.espiritu h5{
    font-size: 17px;
}

.espiritu h6{
    font-size: 16px;
    font-style: italic;
}

.espiritu p{
    font-size: 15px;
    color: rgb(134, 96, 157);
    margin: 0 16px 16px;
}

.persona:first-child{
    margin-left: 0;
}

/* fin main */

/* footer */

footer{
    color: white;
    clear: both;
    padding: 30px;
    margin-top: 30px;
    text-align: center;
}